modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "./build-override.sh"]

[[ports]]
localPort = 3021
externalPort = 3000

[[ports]]
localPort = 3022
externalPort = 3001

[[ports]]
localPort = 3023
externalPort = 3002

[[ports]]
localPort = 3024
externalPort = 3003

[[ports]]
localPort = 3025
externalPort = 4200

[[ports]]
localPort = 3026
externalPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database==1.0.0", "javascript_object_storage==1.0.0", "javascript_openai==1.0.0", "javascript_log_in_with_replit==1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-e135d529-ffa3-4dfb-87b4-be9af2af68f2"
